# ignore all
*

# unignore all with extensions
!*.*

# unignore all directories
!*/

# ignore all with .o extensions
*.o
*/*.o

# ignore build folder
build/

# ignore mac finder cache
.DS_Store
*/.DS_Store
